body {
    background-image: url(../img/lib-bg.jpg);
    background-attachment: fixed;
}

.container {
    width: 60%;
    margin: 0 auto;
    margin-top: 10%;
    height: 400px;
    background-color: whitesmoke;
}


/*row form with placeholders*/

input {
    width: 200px;
    height: 40px;
}

.one {
    width: 100%;
    height: auto;
    text-align: center;
}

.form-label {
    width: 100%;
}


/*
label {
    width: 150px;
    height: 30px;
}
*/

h4 {
    color: crimson;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    padding-top: 1%;
}

form {
    padding-top: 6%;
}


/*row two containing the sign in and sign up button */

.sign-in {
    width: 100%;
    text-align: center;
}

.tag {
    font-family: 'Montserrat', sans-serif;
    color: crimson;
}
