body {
    background-color: black;
}
.container {
    width: 60%;
    margin: 0 auto;
    margin-top: 10%;
    height: 350px;
    background-color: whitesmoke;
}

/*row form with placeholders*/

.form-label {
    width: 100%;
    height: 60%;
}
h4 {
    color: crimson;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2%;
}
form {
    padding-top: 6%;
}

/*row two conaining the sign in and sign up button */

.sign-in {
    width: 100%;
}
