<!DOCTYPE html>
<html>

<head>
    <title> Library Management System</title>
    <link rel="stylesheet" type="text/css" href="../static/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <script src="../static/js/modernizr.js"></script>
</head>

<body>
    <div class="container">




    </div>



    <script>
        $(document).foundation();
    </script>
</body>

</html>
