<!DOCTYPE html>
<html>

<head>
    <title> Library Management System</title>
    <link rel="stylesheet" type="text/css" href="../static/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">

        <div class="row form-label">
            <div class="medium-2 columns">
                <br>
            </div>
            <div class="medium-8 columns">
                <h4> library Management System </h4>
                <form>
                    <label>
                        <input type="text" placeholder="Username">
                    </label>
                    <label>
                        <input type="text" placeholder="Password">
                    </label>
            </div>
            <div class="medium-2 columns">
                <br>
            </div>
        </div>
        <div class="row sign-in">
            <div class="medium-2 columns">
                <br> </div>
            <div class="medium-3 columns">
                <p class="tag">New User?</p>

                <button class="button" href="#">Sign up</button>
            </div>
            <div class="medium-2 columns">
                <br> </div>
            <div class="medium-3 columns">
                <p class="tag">Already a User?</p>
                <button class="button" href="#">Log in</button>
            </div>
            <div class="medium-2 columns">
                <br> </div>

        </div>
</body>

</html>
