<!DOCTYPE html>
<html>

<head>
    <title> Library Management System</title>
    <link rel="stylesheet" type="text/css" href="../static/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class="container">
        <form>
            <div class="row">
                <div class="medium-6 columns">
                    <label>
                        <input type="text" placeholder="Username">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label>
                        <input type="text" placeholder="Password">
                    </label>
                </div>
            </div>
            <div class="row">

                <button class="hollow button" href="#">sing up</button>
                <button class="secondary hollow button" href="#">log in</button>
            </div>
        </form>
    </div>
</body>

</html>
